

.div_cartpage_leftside_nested{
    
   
}




.div_cartpage_paymentmethod{
    width: 60%;
    background-color: #FAFAFA;
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    padding:30px 60px 60px 60px
    
}

