.h1_dash_tabledash{
    font-family: --monser;
  font-size: 30px;
  color: #323232;
  
}
.p_dash_tabledash{
    font-family: --monser;
    padding-top: 10px;
    margin-left:5px;
}

.p_dash_modalpop{
    font-family: --monser;
    color: red;
    margin-left:5px;
}

.p_dash_modalpop2{
    font-family: --monser;
    text-align: center;
    margin-left:5px;
    color: red;
}

.p_dash_modapop_product{
    font-family: --monser;
    margin-left: 5px;
    font-weight: 500;
    
}