@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,600&family=Josefin+Sans:wght@500&family=Roboto:wght@500;900&family=VT323&family=Ysabeau+Infant:wght@100;300&display=swap');



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
   background-color: #F2F2F2;
  
 
}



.img_index{
  
  background-repeat:no-repeat;
   background-size:cover;
   height: 100%;
   width: 100%;
   position:absolute;
   opacity:0.3;
   z-index: -1;
   
}





/*accordion insert product*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

h2{
  font-size: large;
  color: red;
}

.h1_index_page{
  font-family: 'VT323', monospace;
   font-size: 25px;
   color: #6F88A4;
   padding-bottom: 15px;
 
}
select{
  font-family: 'VT323', monospace;
  text-align: center;
}

/*___________accordion component __________*/
.category_accordion{
  background-color: #EEF6FE;
  border: 2px solid red;
  border-radius: 50px 20px;
  
}
/*___________accordion component  END__________*/