@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --monser: 'Montserrat', sans-serif;


  --uno: #FAF0E4;
  --due: #9BCDD2;
  --tre: #FF8551;
  --quattro:#FFDEDE;
  
  --sei:#dc2f02;
  --sette:	#e85d04;
  --otto:#f48c06;
  --nove:#faa307;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
 
   background-color: var(--quattro);
  
 
}

.sticky-nav {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 display:none;
}

select{
  font-size: 25px;
    padding: 5px;
    font-family: var(--monser);
    font-weight: 700;

   
}

.div_img_indexpage{
  z-index: -1;
  position: sticky;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 800px;
}

.div_makeorder_img{
  /*
  background-image: url("/img/makeimg.svg");
  background-size: cover;

  width: 100%;
  height: 600px;
  */

}

.vector{
  background-image: url("/img/dio.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 200px;
  height: 200px;
 
}


.screen1{
  transform: skew(0,4deg);

  height: 60vh;
  background-color: #FAF0E4;
}
/*

.screen1{
  background-color: var(--otto);
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  overflow: hidden;
  padding-top: 400px;
  

}


.screen1:after {
  content: "";
  display: block;
  background: white;
  height: 400px;
  width: 8000px;
  
  z-index: 1;
  bottom: -40%;
  left: 50%;
  margin-left: -4000px;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}


.screen2{
  width: 60%;
  margin: auto;
  height: 400px;
 
  position: relative;
  top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

*/


/*accordion insert product*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}



.h1_index_page {
  font-family: var(--monser);
   font-size: 40px;
   font-weight: 600;
   color: #9BCDD2;

   padding-bottom: 15px;
 
}

.div_h2_index{
  font-family: var(--monser);
  font-size: 40px;
  font-weight: 600;
  color: var(--due);
}

.name_category_accordion{
  font-family: --monser;
  font-size: 30px;
  color: #323232;
  padding-bottom: 15px;
}


select{
  font-family: --monser;
  text-align: center;
}

/*___________accordion component __________*/
.category_accordion{
  background-color: #EEF6FE;

  border-radius: 50px 20px;
  
}

.h1_accordion_title{
  font-family: --monser;
 font-weight: 600;
 font-size: 20px;
 color: #0E66A6;

}
/*___________accordion component  END__________*/





.button_cartpage_left{
  font-size: 10px;
}


/*________Login page_________*/

.h1_loginpage{
  
  font-size: 60px;
  font-family: --monser;
}

/*_________end Login page______*/


/* crousel  */

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* end carousel */