.main_mekeorder{
    padding-top: 200px;
    width: 100%;
    height: 100%;
   z-index: 1;
   
    
  }

  .container_accordion_makeorder{
    padding-left: 15%;
    padding-right: 15%;
  }

  .card_makeorder{
    width: 60%;
    background-color: #FAFAFA;
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    
  }
.image_card_makeorder{
border-radius:  50px 20px 0px 0px;
}

.h2_accordion_title{
  font-size: large;
  color: #0E66A6;
}

.h2_card_title{
  color: #0E66A6;
  margin-top: 20px;
  font-size: 30px;
  font-family: --monser;
  
}

.body_decription_accordion_card{
  height: 100%;
        padding: 40px; 
}

.p_card_makeorder{
  font-family: --monser;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
    top: 0;
    right: 0;
    left: 0;
  
    text-align:center;
 
}

.text_when_hidden_card_makeorder{

  color: #323232;
  font-size: 20px;
  font-family: --monser;
}



  .div_text_card1{
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    background-color:#FAFAFA;
    padding:30px;
    margin: 0 25px 25px 250px;
   
  }
  .div_text_card2{
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    background-color:#FAFAFA;
    padding:30px;
    margin: 0 350px 25px 120px;
   
  }
  .div_text_card3{
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    background-color:#FAFAFA;
    padding:30px;
    margin: 0 150px 25px 0;
   
   
  }

  .h1_cartpage{
    font-family: --monser;
    font-size: 30px;
  }

  .arrow_card{
    color: red;
    font-size: 60px;
  }
  /*.prova{
    position: absolute;
    -webkit-animation: linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.7s;
    
  }
  @keyframes run {
    0% {
      right: 0;
    }
    50%{
      right: 30%;
    }

    75%{
      right: 30%;
    }
   
    100% {
      right: 30%;    
    }
  }*/
 

  
