.main_mekeorder{
    padding-top: 200px;
    width: 100%;
    height: 100%;
   z-index: 1;
   
    
  }

  .container_accordion_makeorder{

   width:100%;
   padding: 0% 35% 0% 15%;
  
  
   
  }

  .container_categories{
  
    margin-left: 5%;
    border-left-color: gray;
    border-left-width: 1px;
    width: 10%;
    height: 100%;
    margin-top: 200px;
    position: fixed;
    overflow: auto;
  }

  .card_makeorder{
    margin-right: 15%;
    background-color: #FAFAFA;
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
   
    
    
  }
.image_card_makeorder{

}

.h2_accordion_title{
  font-size: large;
  color: #0E66A6;
}

.h2_card_title{
  

  font-size: 20px;
  font-family: --monser;
  
}

.body_decription_accordion_card{
  height: 100%;
        padding: 40px; 
}

.p_card_makeorder{
  font-family: --monser;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
    top: 0;
    right: 0;
    left: 0;
  
    text-align:center;
 
}

.text_when_hidden_card_makeorder{

  color: #323232;
  font-size: 20px;
  font-family: --monser;
}



  .div_text_card1{
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    background-color:#FAFAFA;
    padding:30px;
    margin: 0 25px 25px 250px;
   
  }
  .div_text_card2{
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    background-color:#FAFAFA;
    padding:30px;
    margin: 0 350px 25px 120px;
   
  }
  .div_text_card3{
    box-shadow: 5px 10px #ccc;
    border-radius: 50px 20px;
    background-color:#FAFAFA;
    padding:30px;
    margin: 0 150px 25px 0;
   
   
  }

  .h1_cartpage{
    font-family: --monser;
    font-size: 30px;
  }

  .arrow_card{
    color: red;
    font-size: 60px;
  }

  .button_accordion{
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .p_accordion_card{
    font-size: 20px;
   margin-top: 20px
  }


  .button_accordion:hover {
    background-color: #3e8e41;
 }
 .button_accordion:active {
    transform: scale(0.95);
 }
 .button_accordion:focus {
    outline: none;
 }


 @media screen and (max-width: 500px) {
  .p_accordion_card {
     font-size: 16px;
  }
}

.accordion_container_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.div_singlecategory{
  display:flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  

}

.div_singlecategory:hover{
  border-left-width: 2px;
  border-left-color: black;
  margin-left: -1px;
}

.div_singleproduct{
  background-color: #FAFAFA;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
  border-radius:20px;
  cursor: pointer;
  border-color:#F6F6F6;
  border-width: 2px;
  display: flex;
  justify-content: space-between;

}

.main_container_card{
  margin-left: 70%;

  width: 30%;
  height: 100%;
  padding-top: 200px;
  position: fixed;
  overflow: auto;
}

  /*.prova{
    position: absolute;
    -webkit-animation: linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.7s;
    
  }
  @keyframes run {
    0% {
      right: 0;
    }
    50%{
      right: 30%;
    }

    75%{
      right: 30%;
    }
   
    100% {
      right: 30%;    
    }
  }*/
 

  
